::selection{
    background-color: black;
    color: #fff
}
.col-sm-7 ul li:hover,ul li:hover,footer p:hover{
    color: #ff9b51;
    cursor: pointer;
    transition:all 0.5s ease-in-out
}
.form-inline{
        margin-top: 77px;
}
.contact .form-inline .form-control{
    display: block;
    margin-bottom: 30px;
    background-color: #fff;
    border: none;
    outline: none;
    width: 100%;
}
p{
    color: #86878b;
    line-height: 1.7
}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
    padding: 6px;
    font-size: 18px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 30px;
}
span{
    color: #ff9b51
}
.first h1{ 
    font-size: 88px;
    margin-top: 26%;
    color: #fff;
}
.first h2{
    color: #fff;
    font-size: 33px
}

.first-row-first p{
    margin-top: 50px;
    color: #fff
}
.first-row-first button{
    background:url(photo/3.png) no-repeat scroll -15% 0 ;
    margin-top: 37px;
    border: 2px solid #fff;
    padding: 8px 33px;
    margin-bottom: 19%;
    color: #fff;
    font-weight: bold;
}
.first-row-first button:active{
    outline: none
}
 ul{
    list-style: none
}
.second-row-first ul .form-control{
    margin-bottom: 10px;
    border:0;
    border-radius: 0;
    width: 100%
}

.first .back-cover{
    background-image: url(photo/3.png);
    background-size: cover
}
.second-row-first .formm{
    margin-left: 38%;
    background: #fff;
    width: 260px;
    margin-top: 35%;
    height: 336px;
    background-color: #fff;
}
.second-row-first .formm ul li .last{
    margin-bottom: 49px
}
.second-row-first .formm .card{
    width: 100%;}
.second-row-first .formm .card-body a{
    background-color: #ff9b51;
    padding: 10px 94px;
    color: #fff;
    outline: 1px solid #ff9b51;
    text-decoration: none;
}
.second-row-first .formm .card-body .card-title{
        border-radius: 4px 4px 0 0;
}
.second-row-first .formm  .list-group-item{
        
    }
.second-row-first .formm .card-title{
    background-color: #f5f5f5;
    padding: 11px 27px;
}
.card-body{
        margin-bottom: 80px;
}
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
.social{
        box-shadow: 0px -2px 9px -2px inset black;
}
.social .col-sm-7 ul {margin-left: 20px;margin-bottom: 21%;}
.social ul li {
    float: left;
    margin-right: 30px;
    margin-top: 40px;
    color: #cccccc;

}
.social p{
    font-size: 17px;
    color: #cccccc;
}
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
.tabs{
        background-color: #f5f5f5;
}
.tabs .tabs-hold{
    padding-top: 10%;
    padding-bottom: 6%
}
.tabs .tabs-hold button{
    background-color: #ff8b38;
    color: #fff;
    padding: 10px 30px;
    margin-top: 25px;
}
.tabs .tabs-hold h3 {
    margin-bottom: 50px;
}
.tabs .tabs-hold .col-sm-7{margin-right: -145px;}
.tabs .tabs-hold p{
    color: #86878b  
}
.tabs .tabs-hold p:last-of-type{
    margin-top: 25px;

}
.tabs .box1,.tabs .box2,.tabs .box3{
    width: 94px;
    height: 100px;
    line-height: 100px;
    color: #fff;
    margin-bottom: 1px;
    
}
.tabs .box1 {
    background-color: #ff8b38;
}
.tabs .box2,.tabs .box3{
    background-color: #333;
}
.tabs .box1 {
    border-radius: 2px 2px 0 0
}
.tabs .box3{
    border-radius:  0 0 2px 2px
}
.tabs .tabs-hold img{width: 380px}
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
.sub-list{
    padding-top: 8%;
}
.sub-list .col-sm-5{
    margin-right: 23px;
    margin-left: -23px;
}
.sub-list .col-sm-7{
    padding-left: 15%
}
.hr {
    width: 83px;
    height: 2px;
    background-color: #ff8b38;
    margin-bottom: 26px;
    margin-top: -15px;
}
.sub-list i{
    margin-top: 20px
}
.sub-list p{
        margin: 0 0 44px;
    color: #bdbdbd
}
.sub-list h4,.standard h4{
    margin-bottom: 40px;
    
}
.sub-list h4{
    margin-left: 10px
}
.sub-list img{
        box-shadow: 4px 4px 15px 0px;
        box-shadow: -4px -4px -15px 0px;
}
.sub-list .fa-cloud-upload:before ,.sub-list .fa-cloud-download:before {
    font-size: 35px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    padding: 12px;
    color: #ff8b38;
    margin-right: 22px;
    margin-bottom: 30px
}
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
.standard{
    background-color: #f5f5f5
}
.standard .standard-hold{
    padding: 6% 0 2%;
}
.standard h4{
    font-weight: bold;
    font-size: 25px
}
.standard .standard-hold img{width: 400px}
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
.questions-hold{
    padding: 6% 0;
    
}
.questions h3{
    margin-top: 43px;
    font-weight: bold
}
.questions p{
    margin-bottom: 10%
}
.questions .hr,.pricing .hr,.say-hold .hr,.stylish .hr,.contact .hr{
    margin-left: 45.8%;
    margin-top: 25px;
}
.questions .fa-lightbulb-o:before,.questions .fa-bolt:before {
    font-size: 35px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    padding: 22px 31px;
    color: #ff8b38;
    margin-right: 22px;
    margin-bottom: 30px
}
.questions .fa-keyboard-o:before{
    font-size: 35px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    padding:23px;
    color: #ff8b38;
    margin-right: 22px;
    margin-bottom: 30px
}
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
.pricing{
    background-color: #f5f5f5;
}
.pricing-hold{
    padding:  5% 0;
}
.pricing .row{
    margin-left: 21px;
    margin-top: 70px;
    text-transform: capitalize;
}
.pricing .list-group-item {
    color: #86878b;
}
.pricing .card-title{
    background-color: #333333;
    color: #fff;
    padding: 16px;
    font-size: 25px;
    margin-bottom: 1px;
}
.pricing  sub{ 
    font-size: 35px;
    bottom:  -2.1em;;
}
.pricing  sup{ 
    font-size: 90px;
    top: 0.7em;
}
.pricing p{
    margin-top: 90px
}
.pricing .sub{
    background-color: #333333;
    color: #fff;
    padding: 20px;
    border-bottom: 4px solid #FF8B38;
    font-style: italic
}
.pricing .card-body{
    margin-bottom: 0
}
.pricing .list-group-item:first-child{
    border-radius: 0
}
.pricing h6{
    font-size: 17px;
    margin-top: 31px;
    margin-bottom: -23px;
    background-color: #ff8b38;
    padding: 15px;
    margin-left: -20px;
    margin-right: -20px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
.say-hold{
    padding:  5% 0;
}
.say-hold .chat{    background-color: #f5f5f5;border-radius: 6px;text-align: left;padding: 14px;margin-top: 50px;width: 290px}
.say-hold .add{
    width: 20px;
    height: 20px;
    background-color: #f5f5f5;
    margin-top: -10px;
    transform: rotate(135deg);
    margin-left: 42px;
}
.say-hold .clients img{
    margin-left: 12px;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 15px
}
.say-holder .clients .manager{
        padding: 5px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */

.stylish {
    color: #fff;
    background: url(photo/london-2276021.jpg) no-repeat fixed 11% 51%;
}
.stylish .stylish-hold p{color: #fff;margin-top: 40px;}
.stylish .stylish-hold{
    background-color: rgb(2,2,2,0.6);
    padding: 4% 0
}
.stylish .hr {
    background-color: #fff;
    
}
.stylish .stylish-hold button{
    margin-top: 30px;
    padding: 11px 40px;
    border: 2px solid #fff;
    background-color: rgb(2,2,2,0.6);
    background: url(photo/london-2276021.jpg) no-repeat fixed 11% 51%;
    font-weight: bold
}
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
.contact-hold{
    padding: 5% 0
}
.contact-hold p:first-of-type{
    margin-bottom: 15px;
    margin-top: 40px;
}
.contact-hold .col-sm-6 p{
    margin-bottom: 0px;
    margin-top: 55px;
}
.contact .contact-hold textarea{
    margin: 0px 171px 0px 0px;
    width: 384px;
    height: 183px;
    resize: none;
}
.contact .contact-hold button{
    margin-top: 60px;
    padding: 11px 40px;
    border: 2px solid #fff;
    background-color: #ff9b51;
    color: #fff;
    margin-left: 42%;
}
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
footer{
    background-color: #000000;
    color: #fff
}
footer ul{
    list-style: none;
    margin-left: 21px;
    padding: 19px 28% 48px;
}
footer ul li{
    float: left;
    margin-right: 15px
}
footer p{ margin-right: 8%;}

.buttonn{
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ff9b51;
    color: #fff;
    display: none;
    position: fixed;
    cursor: pointer;
    line-height: 38px;
    padding-left: 9px;
    
}